/* https://accessiblepalette.com/?lightness=98,93,88,80,70,60,50,38,22,14&ff6f50=0,0&34d275=1,0&647899=1,0 */

:root {
  --c-bg: #fbfbfc;

  --c-slate-50: #f9f9fb;
  --c-slate-100: #e9ebf0;
  --c-slate-200: #d9dde6;
  --c-slate-300: #c0c7d5;
  --c-slate-400: #a1acc1;
  --c-slate-500: #8291ad;
  --c-slate-600: #647899;
  --c-slate-700: #4c5a72;
  --c-slate-800: #2e3542;
  --c-slate-900: #20242b;

  --c-red-100: #ffe5e0;
  --c-red-600: #c3553d;

  --c-green-100: #d0f4d8;
  --c-green-600: #2c874e;

  /* https://accessiblepalette.com/?lightness=100,100,100,100,60,50,40,0,0,0&ea6856=0,0&b18b32=0,-10&43a447=0,0&21a19c=0,0&2c9acc=1,15&9085de=0,0 */
  --rainbow-40: to right, #994438, #795822, #2c6b2e, #166966, #346285, #5e5791;
  --rainbow-50: to right, #c15647, #b18b32, #37873a, #1b8480, #3b7daa, #776eb7;
  --rainbow-60: to right, #ea6856, #b18b32, #43a447, #21a19c, #2c9acc, #9085de;

  /* Padding */
  --pad: 1.25rem; /* 20px */
  --pad2x: 2.5rem; /* 40px */
}
/*
414px: iPhone XR @2x, XS Max @3x, 11 @2x, 11 Pro Max @3x
428px: iPhone 12 Pro Max @3x
*/
@media only screen and (min-width: 414px) {
  :root {
    --pad: 1.875rem; /* 30px */
    --pad2x: 3.75rem; /* 60px */
  }
}
/*
1194px: Landscape iPad 11" (Pro 1-2nd)
1280px: Full-screen MB 13", half-screen iMac 27"
*/
@media only screen and (min-width: 1194px) {
  :root {
    --pad: 2.5rem; /* 40px */
    --pad2x: 5rem; /* 80px */
  }
}

/* Global */

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font: 1rem Inter, sans-serif;
}
input[type='number'],
input[type='text'] {
  margin: 0;
  border: 1px solid var(--c-slate-200);
  border-radius: 2px;
  padding: 0.2em 0.4em;
  font-family: Inter, sans-serif;
}
input[type='number'] {
  padding-right: 0;
}
input[type='number']:focus,
input[type='text']:focus {
  outline: none;
  box-shadow: 0 0 0 2px #dceff8;
}

